html,
body {
  margin: 0;
  height: 100%;
  /* overflow: hidden; */
}

.box {
  padding-bottom: 100px !important;
}

/* background image setup */
.bgcolour {
  /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../assets/background.jpg'); */
  background: var(--negative);
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimage{
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* custom font setup */
@font-face {
  font-family: customfont;
  src: url(../assets/Headding.ttf);
}
@font-face {
  font-family: customfont2;
  src: url(../assets/Other.ttf);
  font-weight: 450;
}

/* Header font */
.fontHeader {
  font-family: "customfont";
  font-size: 6vmax;
  line-height: 90%;
  margin-top: 3%;
  margin-bottom: 0%;
}

/* Defualt font */
* {
  font-family: "customfont2";
  /* color: var(--info) */
}

.card-bg {
  background: var(--dark) !important;
}

.card-info-bg {
  background: var(--warning) !important;
}

.card-settings-bg {
  background: var(--secondary) !important;
}

.graph-container {
  height: 100%;
}

.graph-card {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.graph-graph {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.apexcharts-tooltip {
  color: var(--primary);
}

.info-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px 15px;
}

.info-temperature {
  min-width: 200px;
  flex-basis: 45%;
  flex-grow: 2;
}

.info-targetTemperature {
  flex-basis: 45%;
  flex-grow: 1;
}

.info-pid {
  flex-grow: 5;
}

.pid-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pid-item {
  flex-grow: 4;
}

.settings-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.settings-item {
  flex-grow: 2;
  width: 30%;
}

.settings-item2 {
  flex-grow: 2;
  width: 100%;
}

.rounded {
  border-radius: 20px !important;
}

.card-settings-text {
  color: var(--info) !important;
}
